
@media only screen and (max-width: 1750px) {
    html {
        font-size: 17.5px;
    }
}

@media only screen and (max-width: 1700px) {
    html {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1650px) {
    html {
        font-size: 16.5px;
    }
}

@media only screen and (max-width: 1600px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1550px) {
    html {
        font-size: 15.5px;
    }
}

@media only screen and (max-width: 1500px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1450px) {
    html {
        font-size: 14.5px;
    }
}

@media only screen and (max-width: 1400px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1350px) {
    html {
        font-size: 13.5px;
    }
}

@media only screen and (max-width: 1300px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1250px) {
    html {
        font-size: 12.5px;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1150px) {
    html {
        font-size: 11.5px;
    }
}

@media only screen and (max-width: 1100px) {
    html {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1050px) {
    html {
        font-size: 10.5px;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 950px) {
    html {
        font-size: 9.5px;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 9px;
    }
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 8.5px;
    }
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 750px) {
    html {
        font-size: 7.5px;
    }
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 7px;
    }
}

@media only screen and (max-width: 650px) {
    html {
        font-size: 6.5px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 6px;
    }
}

@media only screen and (max-width: 550px) {
    html {
        font-size: 5.5px;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 5px;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 4.5px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 4px;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 3.5px;
    }
}

@media only screen and (max-width: 300px) {
    html {
        font-size: 3px;
    }
}

@media only screen and (max-width: 250px) {
    html {
        font-size: 2.5px;
    }
}

@media only screen and (max-width: 200px) {
    html {
        font-size: 2px;
    }
}

@media only screen and (max-width: 150px) {
    html {
        font-size: 1.5px;
    }
}

@media only screen and (max-width: 100px) {
    html {
        font-size: 1px;
    }
}